.main-navigation {
  position: relative;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  width: 982px;
}

.main-navigation__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.main-navigation__item:hover .drop-down,
.main-navigation__user-item:hover .drop-down {
  display: block;
}

.main-navigation__item-wrapper {
  padding: 9px 13px;
  border-radius: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #f8f7f4;
  }

  &:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px #696969;
  }

  &--active {
    color: #ffffff;
    background-color: #d07058;
    cursor: default;

    &:hover,
    &:focus {
      background-color: #d07058;
    }

    &:active {
      background-color: #d07058;
      box-shadow: none;
    }
  }
}

.main-navigation__item-wrapper:hover .main-navigation__link {
  color: #333333;

  &::after {
    background-color: transparent;
  }
}

.main-navigation__item-wrapper--active:hover .main-navigation__link {
  color: #ffffff;
  cursor: default;
}

.main-navigation__item-wrapper--active .main-navigation__link::after {
  background-color: transparent;
}

.main-navigation__list,
.main-navigation__user-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__list, {
  width: 372px;
  padding-top: 23px;
}

.main-navigation__link,
.main-navigation__user-link {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation__link {
  position: relative;
  display: block;
  font-weight: 400;
  line-height: 18px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.main-navigation__catalog-list {
  left: -10px;
  margin: 0;
  padding: 2px 0;
  list-style: none;
}

.main-navigation__catalog-item {
  position: relative;
  width: 143px;
  padding: 2px 0;
}

.main-navigation__catalog-item--underline {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 128px;
    height: 1px;
    margin-left: -64px;
    background-color: #d1d0ce;
  }
}

.main-navigation__catalog-link {
  display: block;
  padding: 6px 15px 10px 15px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #fbded7;
  }

  &:active {
    background-color: #f6b5a5;
  }

  &--active {
    background-color: #d07058;
    cursor: default;

    &:hover,
    &:focus {
      background-color: #d07058;
    }

    &:active {
      background-color: #d07058;
    }
  }
}

.main-navigation__catalog-link--bold {
  font-weight: 700;
}

.main-navigation__search {
  left: -309px;
  width: 341px;
  padding: 15px 20px;
}

.main-navigation__user-list {
  width: 262px;
  padding-top: 23px;
}

.main-navigation__user-item {
  position: relative;
  margin-right: 10px;

  &::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.main-navigation__user-link {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
}

.main-navigation__user-link img {
  display: block;
}

.main-navigation__user--search {
  position: relative;
  width: 32px;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -8px;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.png");
  }

  &:hover,
  &:focus {
    color: #323232;
    background-color: #f8f7f4;
  }

  &:hover::before,
  &:focus::before {
    background-image: url("../img/icon-search-hover.png");
  }
}

.main-navigation__search-button {
  display: none;
}

.main-navigation__user--login {
  position: relative;
  width: 93px;
  padding-left: 44px;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 16px;
    top: 6px;
    width: 21px;
    height: 19px;
    background-image: url("../img/icon-login.png");
  }

  &:hover,
  &:focus {
    color: #323232;
    background-color: #f8f7f4;
  }

  &:hover::before,
  &:focus::before {
    background-image: url("../img/icon-login-hover.png");
  }
}

.main-navigation__login {
  left: -184px;
  width: 277px;
  padding: 20px 17px 22px 19px;
}

.main-navigation__login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-navigation__login-wrapper {
  display: flex;
  flex-direction: column;
}

.main-navigation__login-input {
  margin-bottom: 20px;
}

.main-navigation__login-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
}

.main-navigation__login-button {
  width: 100px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-navigation__user--cart {
  position: relative;
  width: 117px;
  padding-left: 44px;
  text-align: center;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 16px;
    top: 6px;
    width: 21px;
    height: 19px;
    background-image: url("../img/icon-cart.png");
  }
}

.main-navigation__user--in-cart {
  color: #323232;
  background-color: #f7f6f3;

  &::before {
    background-image: url("../img/icon-in-cart.png");
  }
}

.main-navigation__cart {
  left: -422px;
  width: 539px;
  padding: 20px 15px 20px 15px;
}

.main-navigation__cart-list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  border-bottom: 1px solid #cacac7;
}

.main-navigation__cart-item {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  padding: 0 18px 0 26px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.main-navigation__cart-button-delate {
  position: absolute;
  top: 12px;
  left: 6px;
  align-self: center;
  width: 11px;
  height: 11px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 1px;
    margin-left: -7px;
    margin-top: -1px;
    background-color: #000000;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.main-navigation__cart-image {
  margin-right: 14px;
}

.main-navigation__cart-item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 10px;
}

.main-navigation__cart-title {
  width: 216px;
  margin: 0;
}

.main-navigation__cart-weight-price {
  color: #999999;
}


.main-navigation__cart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-navigation__cart-total {
  margin-bottom: 15px;
  font-size: 15px;
  height: 18px;
  font-weight: 700;
  color: #323232;
}

.main-navigation__cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 44px;
  text-decoration: none;
}
