body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//Убрать после установки размеров элементов
//img {
//  width: 100%;
//}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.button {
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border-radius: 25px;
  border: none;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  outline: none;

  &:hover,
  &:focus {
    box-shadow: 0 2px 2px #ac1000;
    background-image: linear-gradient(to top, #ed705e 0%, #f58569 100%);
  }

  &:active {
    box-shadow: inset 0 2px 2px #942718;
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  }
}

.global-link-white {
  &:hover,
  &:focus {
    color: #ffbc9e;
  }
}

.global-link-black {
  &:hover,
  &:focus {
    color: #e84d37;
  }
}
